*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/app/release/

# Scratch written by the voice tools to prove the encoder works.
tools/aistudio/
tools/gcloud/
tools/mana/check/
