<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <application
        android:name=".PashmakApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pashmak"
        tools:targetApi="31">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pashmak.Splash"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.HomeActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.missions.MissionsActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.games.GamesActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.livedrawing.LiveDrawingActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:keepScreenOn="true"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.coloring.ColoringActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.freedraw.FreeDrawActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.tracing.TracingActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.bubbles.BubblePopActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.memory.MemoryActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.story.StoryActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.gallery.GalleryActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.gallery.GalleryViewerActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.settings.SettingsActivity" android:screenOrientation="landscape" android:exported="false" tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
